* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* This means 1 rem is 10 pixels */
  background-color: white;
  font-family: sofia-pro, sans-serif;
  scroll-behavior: smooth;
}

.background {
  width: 100vw;
  height: 10vh;
  background-color: #f4d03f;
  background-size: cover;
  background-attachment: fixed;
}

.background .nav {
  width: 100vw;
  height: 10vh;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  color: #fff;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Middle line */
  /* Top and middle line again */
  /* hidden menu */
}

.background .nav .initials h4 {
  font-size: 4rem;
}

.background .nav .initials h4 span {
  font-style: italic;
}

.background .nav .container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  margin-right: 2rem;
  background-color: white;
}

.background .nav .menu-wrap {
  position: -webkit-sticky;
  position: sticky;
}

.background .nav .menu-wrap .toggler {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  opacity: 0;
}

.background .nav .toggler {
  margin-right: 2rem;
}

.background .nav .menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: transparent;
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background .nav .menu-wrap .hamburger > div {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 0.25em;
  background: white;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.background .nav .menu-wrap .hamburger > div::before {
  content: '';
  position: absolute;
  top: -1rem;
  z-index: 1;
  width: 100%;
  height: 0.25rem;
  background: black;
}

.background .nav .menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  top: 1rem;
  z-index: 1;
  width: 100%;
  height: 0.25rem;
  background: yellow;
}

.background .nav .menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.background .nav .xmenu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background .nav .menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.background .nav .menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

.background .nav .menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.2s;
  transition: opacity 0.4s ease 0.2s;
}

.background .nav .menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background .nav .menu-wrap .menu > div {
  background: black;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
}

.background .nav .menu-wrap .menu > div > div {
  text-align: center;
  max-width: 100vw;
  max-height: 100vh;
  color: aliceblue;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.background .nav .menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

.background .nav .menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.background #nav_non_responsive {
  width: 100%;
  height: 10vh;
  background-color: #f4d03f;
}

.background header {
  width: 100%;
  height: 90vh;
}

.background header .pictures {
  width: 100%;
  height: 60%;
  background-color: #f4d03f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.background header .pictures .name {
  width: 10%;
  height: 100%;
  background-color: #f4d03f;
  padding-bottom: 2rem;
}

.background header .pictures .name .first--name {
  width: 100%;
  height: 50%;
  color: #fff;
}

.background header .pictures .name .second--name {
  width: 100%;
  height: 50%;
  color: #fff;
}

.background header .pictures .name .second--name, .background header .pictures .name .first--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background header .pictures .name .second--name p, .background header .pictures .name .first--name p {
  font-size: 3rem;
  line-height: 1.4;
}

.background header .pictures .pictures__section {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.background header .pictures .pictures__section #picture--one {
  width: 20%;
  height: 100%;
  background-color: #f4d03f;
}

.background header .pictures .pictures__section #picture--one #image {
  width: 155%;
  height: 40%;
  background-color: #f4d03f;
  position: relative;
  z-index: 9;
}

.background header .pictures .pictures__section #picture--one #image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.background header .pictures .pictures__section #picture--two {
  width: 30%;
  height: 100%;
  background-color: #f4d03f;
  padding-top: 15rem;
}

.background header .pictures .pictures__section #picture--two #image {
  width: 120%;
  height: 90%;
  background-color: #f4d03f;
  position: relative;
  z-index: 10;
}

.background header .pictures .pictures__section #picture--two #image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.background header .pictures .pictures__section #picture--three {
  width: 40%;
  height: 100%;
  background-color: #f4d03f;
  padding-top: 20rem;
}

.background header .pictures .pictures__section #picture--three #image {
  width: 120%;
  height: 40%;
  background-color: #f4d03f;
  position: relative;
  z-index: 9;
}

.background header .pictures .pictures__section #picture--three #image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.background header .pictures .pictures__section #picture--four {
  width: 10%;
  height: 100%;
  background-color: #f4d03f;
  padding-top: 15rem;
}

.background header .pictures .pictures__section #picture--four #image {
  width: 100%;
  height: 20%;
  background-color: #f4d03f;
  position: relative;
  z-index: 10;
}

.background header .pictures .pictures__section #picture--four #image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  width: 100%;
  height: 100%;
}

.background header .text {
  width: 100%;
  height: 60%;
  background-color: #f4d03f;
}

.background header .text #designer__syd {
  width: 100%;
  height: 25%;
  background-color: #f4d03f;
  color: white;
}

.background header .text #designer__syd h4 {
  font-size: 7.5rem;
  letter-spacing: 2.3rem;
}

.background header .text #designer__syd p {
  letter-spacing: 2rem;
  font-size: 2rem;
  padding-left: 2rem;
  color: black;
}

.background header .text #contact__link {
  width: 100%;
  height: 25%;
  background-color: #f4d03f;
  text-align: right;
  color: #cf000f;
}

.background header .text #contact__link p {
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 0.4rem;
  line-height: 1;
  font-weight: 800;
}

.background header .text #contact__link #contact {
  font-style: italic;
  text-decoration: line-through;
}

.background header .text #projects__about__me__link {
  width: 100%;
  height: 25%;
  background-color: #f4d03f;
}

.background header .text #projects__about__me__link .projects__names__header {
  color: #fff;
}

.background header .text #projects__about__me__link .projects__names__header p {
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 0.4rem;
  line-height: 1;
  font-weight: 800;
}

.background header .text #projects__about__me__link .projects__names__header #last__project {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1rem;
}

.background header .text #projects__about__me__link .contact__me__header {
  text-align: right;
}

.background header .text #projects__about__me__link .contact__me__header p {
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 0.4rem;
  line-height: 1;
  font-weight: 800;
  color: #cf000f;
}

.background header .text #stuff__i__line {
  width: 100%;
  height: 25%;
  background-color: #f4d03f;
  padding-top: 6rem;
  padding-bottom: 0;
  color: #fff;
}

.background header .text #stuff__i__line p {
  font-size: 4rem;
  position: relative;
  text-transform: uppercase;
}

.background header .text #stuff__i__line p #ux {
  font-size: 2rem;
}

.background header .text #stuff__i__line p #coffee {
  font-style: italic;
  font-size: 3rem;
}

#blogs--titlepage {
  width: 100vw;
  height: 100vh;
  background-color: #f4d03f;
  padding-left: 4rem;
  padding-right: 4rem;
}

#blogs--titlepage #blogs__titlepage__upper__title {
  width: 100%;
  height: 20%;
  background-color: #f4d03f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#blogs--titlepage #blogs__titlepage__upper__title #blog__titlepage__upper__title__right {
  width: 50%;
  min-height: 40%;
  background-color: #17181C;
}

#blogs--titlepage #blogs__titlepage__upper__title #blog__titlepage__upper__title__right p {
  font-weight: 1000;
  font-size: 3rem;
  border: 2px black solid;
  color: #fff;
  font-style: italic;
}

#blogs--titlepage #blogs__titlepage__lower__title {
  width: 100%;
  height: 80%;
  background-color: #f4d03f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#blogs--titlepage #blogs__titlepage__lower__title #blogs__titlepage__lower__title__left {
  width: 20%;
  height: 100%;
  background-color: #f4d03f;
  z-index: 1;
}

#blogs--titlepage #blogs__titlepage__lower__title #blogs__titlepage__lower__title__left #blogs__titlepage__lower__title__left__upper {
  width: 100%;
  height: 30%;
  background-color: #f4d03f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 7rem;
}

#blogs--titlepage #blogs__titlepage__lower__title #blogs__titlepage__lower__title__left #blogs__titlepage__lower__title__left__upper p {
  font-weight: 1000;
  font-size: 4rem;
  color: white;
  font-style: italic;
}

#blogs--titlepage #blogs__titlepage__lower__title #blogs__titlepage__lower__title__left #blogs__titlepage__lower__title__left__button {
  min-width: 10%;
  min-height: 5%;
  background-color: white;
  position: absolute;
  margin-right: 2rem;
}

#blogs--titlepage #blogs__titlepage__lower__title #blogs__titlepage__lower__title__left #blogs__titlepage__lower__title__left__button p {
  font-weight: 1000;
  font-size: 3rem;
  color: black;
  font-style: italic;
}

#blogs--titlepage #blogs__titlepage__lower__title #blogs__titlepage__lower__title__right {
  width: 80%;
  height: 100%;
  background-color: #f4d03f;
  text-align: right;
  z-index: 0;
}

#blogs--titlepage #blogs__titlepage__lower__title #blogs__titlepage__lower__title__right p {
  font-size: 15rem;
  font-weight: 900;
}

#blogs--title {
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: balck;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

#blogs--title #blog__title__name {
  font-size: 5rem;
  font-weight: 900;
}

#blogs--title #blog__title__name span {
  font-style: italic;
}

#blogs--title #blog__title__name span span {
  text-decoration: line-through;
}

#blogs--content {
  width: 100vw;
  min-height: 100vh;
  background-color: #17181C;
  color: #fff;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
}

#blogs--content #blog__content__title {
  font-weight: 700;
}

#blogs--content #blog__content__title p, #blogs--content #blog__content__paragraph p {
  font-size: 3rem;
  line-height: 1.6;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: #17181C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer .name, footer .quote, footer .icon {
  width: 33.3%;
  height: 100%;
}

footer .name {
  background-color: #17181C;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

footer .name .name__container {
  width: 100%;
  height: 50%;
  background-color: #17181C;
}

footer .name .name__container p {
  color: aliceblue;
  text-align: center;
}

footer .quote {
  background-color: #17181C;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .quote .quote__container {
  width: 100%;
  height: 50%;
  background-color: #17181C;
}

footer .quote .quote__container p {
  color: white;
  text-align: center;
}

footer .quote .quote__container span {
  font-style: italic;
  font-weight: 700;
}

footer .icon {
  background-color: #17181C;
}
/*# sourceMappingURL=blogs.css.map */