* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* This means 1 rem is 10 pixels */
    background-color:rgb(255,240,245);
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}


nav {
    width: 100%;
    height: 10vh;
    background:transparent rgb(245,245,245);
    position: fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    #icon {
        font-style: italic;
        font-size: 5rem;
    }
    #inspo--header {
        display:none;
    }

}

header {
    width: 100%;
    height: 20rem;
    background-color:rgb(250,235,215);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    h1 {
        font-size: 5rem;
        font-family: cursive;
    }
}

.main--pictures { 
    width: 100%;
    height: 150rem;
    background: rgb(255,245,238);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .picture {
        width: 30rem;
        height: 30rem;
        background-color: black;
    }
}

.inspirational--quote {
    width:100%;
    height: 25rem;
    background-color: aqua;
}

.projects {
    width: 100%;
    height: 150rem;
    background-color: rgb(255,127,80);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .project {
        width: 100%;
        height: 30rem;
        background-color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        .project__background {
            width: 80%;
            height: 90%;
            background-color: red;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .project__name {
                width : 15%;
                height: 10%;
                background-color: aliceblue;
            }
            .project__picture {
                width : 60%;
                height: 60%;
                background-color: aliceblue;
            }
        }
    }
}

.life--history--why {
    width: 100%;
    height: 100rem;
    background-color: rgb(236, 225, 121);
    #hi__quote {
        /* incline quote Hi */
        width:100%;
        height: 15%;
        background-color: aqua;
    }

    #reasoning__ux_design {
        width:100%;
        height: 50%;
        background-color: antiquewhite;
    }

    #brief__history {
        width:100%;
        height: 35%;
        background-color: pink;
    }
}

.blog--container {
    width: 100%;
    height: 200rem;
    background-color: rgb(100, 165, 218);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    .blog__post {
        width:100%;
        height: 20%;
        background-color: rgba(129, 254, 202, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .blog__picture {
            width: 80%;
            height: 20rem;
            background-color: antiquewhite;
        }
        .blog__name__date {
            width: 80%;
            height: 5rem;
            background-color:burlywood;
        }
    }

}


.inspirations--hobbies--container {
    width: 100%;
    height: 50rem;
    background-color: rgb(194, 143, 160);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .inspirations__hobbies {
        width: 40%;
        height: 40rem;
        background-color: aquamarine;
        margin: 1rem;
    }
}

.contact {
    width: 100%;
    height: 100rem;
    background-color: rgb(233, 180, 180);
    .contact__questions {
        width: 100%;
        height: 16.67rem; 
        background-color: chartreuse ; 
    }
    #footer__icon {
        width: 100%;
        height:50rem;
        background-color: darkorange;
    }


}


footer {
    width: 100%;
    height: 10vh;
    background-color:rgb(250,235,215);
    display:flex;
    
    .name, .quote , .icon {
        width: 33.3%;
        height:100%;
    }
    .name {
        background-color: aliceblue;
    }
    .quote {
        background-color: pink;
    }
    .icon {
        background-color: red;
    }
}


@media only screen and (min-width: 600px) {
/* Target all devices from 600px to 769px */

}

@media only screen and (min-width: 769px) {
/* Target all devices from 769px up */ 
    nav {
        width: 100%;
        justify-content: space-between;
        font-size: 5rem;
        padding:0;
        #icon {
            display: none;
        }
        #inspo--header {
            display: contents;
            font-size: 2rem;

        }
        #abbreviation--name {
            padding:0;
        }
    }
    nav {
        padding-right: 8rem;
        padding-left: 8rem;
    }
    header {
        padding-right: 8rem;
        padding-left: 8rem;
    }
    .main--pictures {
        justify-content: center;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        height: 110rem;
        padding-bottom: 26rem;
        .picture {
            width: 25%;
            height: 50%;
            background-color: black;
            margin: 1rem;
        }
    }
    .inspirational--quote {
        height: 75rem;
    }

    .inspirations--hobbies--container {
        height: 75rem;
        padding-left: 8rem;
        padding-right: 8rem;
        .inspirations__hobbies {
            width: 50%;
            margin:0;
        }
    }
    .projects {
        height: 500rem;
        justify-content: flex-end;
        .project {
            height: 20%;
            justify-content: center;
            .project__background {
                justify-self: flex-end;
                height: 95%;
                width: 100%;
                padding-left: 8rem;
                padding-right:8rem;
                .project__name {
                    background-color: aqua;
                    height: 60%;
                    width: 30%;
                }
                .project__picture {
                    width:70%;
                }

            }
        }
    }
    .life--history--why {
        height: 100rem;
        #hi__quote {
            /* incline quote Hi */
        }
        #reasoning__ux_design {
        }
        #brief__history {
        }
    }

    .blog--container {
        height: 300rem;
        .blog__post {
            padding-right: 8rem;
            padding-left: 8rem;
            align-items: flex-start;
            height: 25%;
            .blog__picture {
               height: 80%;
            }
            .blog__name__date {
                height: 20%;
            }
        }
    
    }

    #blog--two {
        align-items: flex-end;
        flex-wrap: wrap;
    }

    .blog__picture__two {
        width: 30%;
        height:80%;
        background-color: antiquewhite;
    }

    .blog__name__date--two {
        width: 30%;
        height:20%;
        background-color: burlywood;
    }

    .contact { 
        .contact__questions {
            padding-left: 8rem;
            padding-right: 8rem;
        }
        #footer__icon {
            padding-left: 8rem;
            padding-right: 8rem;
        }
    }
}