* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* This means 1 rem is 10 pixels */
  background-color: white;
  font-family: sofia-pro, sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
  background-color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Question mark? */
header {
  width: 100%;
  height: 9vh;
  background-color: antiquewhite;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .main--attraction--inner h2 {
  padding-top: rem;
  font-size: 10rem;
}

.menu-wrap {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  opacity: 0;
}

/* This is the content inside the box  (aka links)*/
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: black;
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Middle line */
.menu-wrap .hamburger > div {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 0.25em;
  background: yellow;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

/* Top and middle line again */
.menu-wrap .hamburger > div::before {
  content: '';
  position: absolute;
  top: -1rem;
  z-index: 1;
  width: 100%;
  height: 0.25rem;
  background: yellow;
}

.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  top: 1rem;
  z-index: 1;
  width: 100%;
  height: 0.25rem;
  background: yellow;
}

.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* hidden menu */
.xmenu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.2s;
  transition: opacity 0.4s ease 0.2s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div {
  background: black;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2 ease;
  transition: all 0.2 ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 100vw;
  max-height: 100vh;
  color: aliceblue;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.main--pictures {
  width: 100%;
  height: 200vh;
  background: #17181C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main--pictures .picture {
  width: 100%;
  height: 25%;
  background-color: white;
}

.inspirational--quote {
  width: 100%;
  height: 100vh;
  background: url("../images/background/sky-5841177_1920.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inspirational--quote .inspiration__container {
  width: 100%;
  height: 100%;
  background-color: transparent white;
  background-blend-mode: multiply;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inspirational--quote .inspiration__container #inspire {
  font-style: italic;
  color: white;
  text-decoration: line-through;
  line-height: 3;
  font-size: 4.5rem;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.inspirational--quote .inspiration__container #inspire::after {
  top: -0.25rem;
  bottom: -0.25rem;
  left: -2rem;
  /* Cal tingo maybe add */
  background-color: yellow;
  content: "";
  position: absolute;
  width: calc(100% + 5rem);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.inspirational--quote .inspiration__container .quote {
  font-weight: 300;
  font-style: italic;
  font-size: 3rem;
  line-height: 1;
  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}

.inspirational--quote .inspiration__container .quote span {
  font-weight: 700;
  font-style: normal;
}

.inspirational--quote .inspiration__container:hover #inspire::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.projects {
  width: 100%;
  height: 370vh;
  background-color: #17181C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects #title__header {
  font-size: 5rem;
  color: white;
}

.projects .project {
  width: 100%;
  height: 20%;
  background-color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .project .project__background {
  width: 100%;
  height: 100%;
  background-color: #17181C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

.projects .project .project__background .project__name {
  width: 100%;
  height: 30%;
  font-size: 2.5rem;
  background-color: #17181C;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.projects .project .project__background .project__name h2 {
  font-size: 5rem;
  color: yellow;
}

.projects .project .project__background .project__name .project--decription {
  line-height: 1.6;
}

.projects .project .project__background .project__name .project--decription .project__name {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}

.projects .project .project__background .project__name .project--decription .project__description__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.projects .project .project__background .project__name .project--decription .project__description__tag .project--tag {
  font-weight: 500;
}

.projects .project .project__background .project__picture {
  width: 100%;
  height: 60%;
  background-color: aliceblue;
}

.projects .project .project__background .project__picture a {
  text-decoration: none;
  overflow: hidden;
}

.projects .project .project__background .project__picture a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s ease in;
  transition: all 0.5s ease in;
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
}

.life--history--why {
  width: 100%;
  height: 100vh;
  font-size: 4.5rem;
  background: url("../images/background/fruits-1193727_1920.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

.life--history--why .inspiration__container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-blend-mode: multiply;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.life--history--why .inspiration__container a {
  font-style: italic;
  text-decoration: overline;
  line-height: 3;
  color: #17181C;
  font-size: 4.5rem;
  z-index: 1;
  position: relative;
  display: inline-block;
}

.life--history--why .inspiration__container a::after {
  content: '';
  position: absolute;
  top: -0.25rem;
  bottom: -0.25rem;
  left: -2rem;
  background-color: white;
  width: calc(100% + 5rem);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  z-index: -1;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.life--history--why .inspiration__container .quote {
  font-weight: 300;
  font-style: italic;
  font-size: 3rem;
  line-height: 1;
}

.life--history--why .inspiration__container .quote span {
  font-weight: 700;
  font-style: normal;
}

.life--history--why .inspiration__container:hover a::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.blog--container {
  width: 100%;
  height: 300rem;
  background-color: #17181C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog--container h2 {
  font-size: 4.5rem;
  color: white;
  font-weight: 700;
}

.blog--container h2 span {
  font-style: italic;
}

.blog--container #blog__two {
  width: 100%;
  height: 25%;
}

.blog--container #blog__two #blog__two__one {
  width: 100%;
  height: 25%;
}

.blog--container #blog__two #blog__two__one .blog__picture__two {
  width: 100%;
  height: 50%;
  background-color: antiquewhite;
}

.blog--container #blog__two #blog__two__one .blog__name__date--two {
  width: 100%;
  height: 5rem;
  background-color: burlywood;
}

.blog--container .blog__post {
  width: 100%;
  height: 25%;
  background-color: #17181C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

.blog--container .blog__post .blog__name__date {
  background-color: #17181C;
}

.blog--container .blog__post .blog__name__date .blog__name {
  font-size: 3.5rem;
  color: white;
  background-color: #17181C;
}

.blog--container .blog__post .blog__name__date .blog__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #17181C;
}

.blog--container .blog__post .blog__name__date .blog__summary .blog__sum {
  font-size: 2rem;
  color: yellow;
}

.blog--container .blog__post .blog__name__date .blog__summary .blog__date {
  font-size: 2rem;
  color: yellow;
}

.blog--container .blog__post .blog__picture {
  width: 100%;
  height: 50%;
  background-color: antiquewhite;
}

.blog--container .blog__post .blog__name__date {
  width: 100%;
  height: 5rem;
  background-color: burlywood;
}

.inspirations--hobbies--container {
  width: 100%;
  height: 50rem;
  background-color: #c28fa0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inspirations--hobbies--container .inspirations__hobbies {
  width: 40%;
  height: 40rem;
  background-color: aquamarine;
  margin: 1rem;
}

.contact {
  width: 100%;
  height: 100rem;
  background-color: #e9b4b4;
  font-size: 4.5rem;
  line-height: 1.3;
}

.contact .contact__questions__upper {
  width: 100%;
  height: 30%;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #17181C;
  color: white;
  padding-top: 5rem;
  line-height: 1.2;
}

.contact .contact__questions__lower {
  height: 10%;
  padding-left: 2rem;
  padding-right: 2rem;
  color: yellow;
  background-color: #17181C;
}

.contact #footer__icon {
  width: 100%;
  height: 60%;
  font-size: 4.5rem;
  background-color: #17181C;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5rem;
}

.contact #footer__icon #email {
  color: white;
}

.contact #footer__icon #email #email__text {
  padding-bottom: 4rem;
}

.contact #footer__icon #email #email__text a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.contact #footer__icon #icon__section {
  width: 100%;
  height: 60%;
  background-color: #17181C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact #footer__icon #icon__section .grid-container {
  padding-top: 18rem;
  padding-left: 20rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: "facebook Instagram Linkin ." "Resume Resume Resume ." ". . . .";
}

.contact #footer__icon #icon__section .facebook {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: facebook;
  width: 20rem;
  height: 20rem;
  background-color: #17181C;
}

.contact #footer__icon #icon__section .facebook .logo__container {
  display: flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #17181C;
  width: 100%;
  height: 100%;
}

.contact #footer__icon #icon__section .facebook .logo__container p {
  width: 100%;
  height: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  background-color: transparent;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  text-align: center;
  padding-top: 2rem;
  color: white;
}

.contact #footer__icon #icon__section .facebook .logo__container span {
  width: 100%;
  height: 100%;
  background-color: #17181C;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact #footer__icon #icon__section .facebook .logo__container span a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact #footer__icon #icon__section .facebook .logo__container span a #facebook__image {
  width: 50%;
  height: 50%;
}

.contact #footer__icon #icon__section .Github {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Instagram;
  width: 20rem;
  height: 20rem;
}

.contact #footer__icon #icon__section .Linkin {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: Linkin;
  width: 20rem;
  height: 20rem;
  background-color: palegoldenrod;
}

.contact #footer__icon #icon__section .Resume {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Resume;
  width: 60rem;
  height: 20rem;
  background-color: plum;
}

.contact #footer__icon #icon__section .Github .logo__container, .contact #footer__icon #icon__section .Linkin .logo__container, .contact #footer__icon #icon__section .Resume .logo__container {
  display: flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #17181C;
  width: 100%;
  height: 100%;
}

.contact #footer__icon #icon__section .Github .logo__container p, .contact #footer__icon #icon__section .Linkin .logo__container p, .contact #footer__icon #icon__section .Resume .logo__container p {
  width: 100%;
  height: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  background-color: transparent;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  text-align: center;
  padding-top: 2rem;
  color: white;
}

.contact #footer__icon #icon__section .Github .logo__container span, .contact #footer__icon #icon__section .Linkin .logo__container span, .contact #footer__icon #icon__section .Resume .logo__container span {
  width: 100%;
  height: 100%;
  background-color: #17181C;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact #footer__icon #icon__section .Github .logo__container span a, .contact #footer__icon #icon__section .Linkin .logo__container span a, .contact #footer__icon #icon__section .Resume .logo__container span a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact #footer__icon #icon__section .Github .logo__container span a #github__image, .contact #footer__icon #icon__section .Linkin .logo__container span a #github__image, .contact #footer__icon #icon__section .Resume .logo__container span a #github__image {
  width: 85%;
  height: 85%;
}

.contact #footer__icon #icon__section .facebook .logo__container:hover p, .contact #footer__icon #icon__section .Github .logo__container:hover p, .contact #footer__icon #icon__section .Linkin .logo__container:hover p, .contact #footer__icon #icon__section .Resume .logo__container:hover p {
  opacity: 1;
}

.contact #footer__icon #icon__section .Resume .logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-top: 3rem;
  background-color: #17181C;
}

.contact #footer__icon #icon__section .Resume .logo__container span {
  width: 33.3%;
  height: 100%;
}

.contact #footer__icon #icon__section .Resume .logo__container .resume_downloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact #footer__icon #icon__section .Resume .logo__container .resume_downloader p {
  width: 100%;
  height: 50%;
  padding-bottom: 3rem;
}

.contact #footer__icon #icon__section .Resume .logo__container .resume_downloader .resume__button a {
  text-decoration: underline;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.contact #footer__icon #icon__section .Resume .logo__container:hover .resume_downloader .resume__button a {
  opacity: 1;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: #17181C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer .name, footer .quote, footer .icon {
  width: 33.3%;
  height: 100%;
}

footer .name {
  background-color: #17181C;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

footer .name .name__container {
  width: 100%;
  height: 50%;
  background-color: #17181C;
}

footer .name .name__container p {
  color: aliceblue;
  text-align: center;
}

footer .quote {
  background-color: #17181C;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .quote .quote__container {
  width: 100%;
  height: 50%;
  background-color: #17181C;
}

footer .quote .quote__container p {
  color: white;
  text-align: center;
}

footer .quote .quote__container span {
  font-style: italic;
  font-weight: 700;
}

footer .icon {
  background-color: #17181C;
}

@media only screen and (min-width: 600px) {
  /* Target all devices from 600px to 769px */
  header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .main-picture {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .inspirational-quote {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .projects {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .life--history--why {
    padding-left: 0;
    padding-right: 0;
  }
  .blog--container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .contact {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #17181C;
  }
}

@media only screen and (min-width: 1200px) {
  /* Target all devices from 769px up */
  nav {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 3.5rem;
    font-weight: 300;
    background-color: white;
  }
  nav .hamburger {
    display: none;
  }
  nav #inspo--header {
    display: contents;
    font-style: italic;
  }
  nav #abbreviation--name span {
    font-weight: 550;
  }
  nav {
    padding-right: 8rem;
    padding-left: 8rem;
    background-color: white;
  }
  header {
    padding-right: 8rem;
    padding-left: 8rem;
    background-color: white;
    height: 22.5rem;
  }
  header #title {
    font-style: sofia-pro, sans-serif;
    font-size: 5rem;
    font-style: normal;
    color: black;
  }
  .main--pictures {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 110rem;
    /* padding-bottom: 20rem; */
  }
  .main--pictures .picture {
    width: 25%;
    height: 50%;
    margin: 1rem;
  }
  .inspirational--quote {
    height: 90vh;
    font-size: 10rem;
    position: relative;
  }
  .inspirational--quote .inspiration__container {
    width: 100%;
    height: 50%;
    background-blend-mode: multiply;
    position: relative;
  }
  .inspirational--quote .inspiration__container #inspire {
    position: relative;
    z-index: 1;
    display: inline-block;
  }
  .inspirational--quote .inspiration__container #inspire::after {
    top: -0.25rem;
    bottom: -0.25rem;
    left: -2rem;
    /* Cal tingo maybe add */
    background-color: yellow;
    content: "";
    position: absolute;
    width: calc(100% + 5rem);
    z-index: -1;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform 250ms ease-in;
    transition: -webkit-transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  }
  .inspirational--quote .inspiration__container .quote {
    font-weight: 300;
    font-style: italic;
    font-size: 3rem;
    line-height: 1;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .inspirational--quote .inspiration__container .quote span {
    font-weight: 700;
    font-style: normal;
  }
  .inspirational--quote .inspiration__container:hover #inspire::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .inspirations--hobbies--container {
    height: 75rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .inspirations--hobbies--container .inspirations__hobbies {
    width: 50%;
    margin: 0;
  }
  .projects {
    height: 500rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: #17181C;
  }
  .projects #title__header {
    font-size: 10rem;
    font-weight: 700;
    color: white;
  }
  .projects .project {
    height: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #17181C;
  }
  .projects .project .project__background {
    justify-self: flex-end;
    height: 95%;
    width: 100%;
    padding-left: 8rem;
    padding-right: 8rem;
    background-color: #17181C;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .projects .project .project__background .project__name {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    background-color: #17181C;
    height: 60%;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .projects .project .project__background .project__name h2 {
    color: yellow;
    font-size: 14rem;
  }
  .projects .project .project__background .project__name .project--decription {
    width: 92.5%;
    height: 90%;
    background-color: black;
    -ms-flex-item-align: end;
        align-self: flex-end;
    color: aliceblue;
  }
  .projects .project .project__background .project__name .project--decription .project__name {
    height: 20%;
    width: 100%;
    background-color: #17181C;
    font-size: 5rem;
    color: white;
  }
  .projects .project .project__background .project__name .project--decription .project__description__tag {
    height: 80%;
    width: 100%;
    background-color: #17181C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projects .project .project__background .project__name .project--decription .project__description__tag .project__tag {
    width: 30%;
    height: 100%;
    background-color: #17181C;
    color: white;
    font-size: 2.4rem;
    line-height: 3;
  }
  .projects .project .project__background .project__name .project--decription .project__description__tag .project__decription {
    width: 70%;
    height: 100%;
    background-color: #17181C;
    font-size: 2.4rem;
    line-height: 3;
  }
  .projects .project .project__background .project__picture {
    width: 70%;
  }
  .life--history--why {
    height: 90vh;
    font-size: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
  .life--history--why #history__quote {
    width: 100%;
    height: 50%;
    background: yellow;
    position: relative;
  }
  .life--history--why #history__quote a {
    font-style: italic;
    text-decoration: overline;
    line-height: 3;
    position: relative;
    z-index: 1;
    display: inline-block;
  }
  .life--history--why #history__quote a::after {
    content: '';
    position: absolute;
    top: -0.25rem;
    bottom: -0.25rem;
    left: -2rem;
    background-color: white;
    width: calc(100% + 5rem);
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    z-index: -1;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transition: -webkit-transform 250ms ease-in;
    transition: -webkit-transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  }
  .life--history--why #history__quote .quote {
    font-weight: 300;
    font-style: italic;
    font-size: 6rem;
    line-height: 1;
  }
  .life--history--why #history__quote .quote span {
    font-weight: 700;
    font-style: normal;
  }
  .life--history--why #history__quote:hover a::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .blog--container {
    height: 300rem;
    text-align: left;
    background-color: #17181C;
  }
  .blog--container #blogs__title {
    font-size: 10rem;
    font-weight: 700;
    color: white;
    background-color: #17181C;
  }
  .blog--container #blogs__title span {
    font-style: italic;
  }
  .blog--container .blog__post {
    padding-right: 8rem;
    padding-left: 8rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 25%;
    background-color: #17181C;
  }
  .blog--container .blog__post .blog__picture {
    height: 80%;
  }
  .blog--container .blog__post .blog__name__date, .blog--container .blog__post .blog__name__date--two {
    height: 20%;
  }
  .blog--container .blog__post .blog__name__date .blog__name, .blog--container .blog__post .blog__name__date--two .blog__name {
    width: 100%;
    height: 50%;
    background-color: #17181C;
    color: white;
    font-size: 5rem;
  }
  .blog--container .blog__post .blog__name__date .blog__summary, .blog--container .blog__post .blog__name__date--two .blog__summary {
    width: 100%;
    height: 50%;
    background-color: #17181C;
    color: white;
    font-size: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blog--container .blog__post .blog__name__date .blog__summary .blog__sum, .blog--container .blog__post .blog__name__date--two .blog__summary .blog__sum {
    width: 30%;
    height: 100%;
    background-color: #17181C;
    color: yellow;
    font-size: 2.4rem;
  }
  .blog--container .blog__post .blog__name__date .blog__summary .blog__date, .blog--container .blog__post .blog__name__date--two .blog__summary .blog__date {
    width: 70%;
    height: 100%;
    background-color: #17181C;
    color: yellow;
    text-align: end;
    font-size: 2.4rem;
  }
  #blog--two {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 25%;
  }
  #blog--two .blog__picture__two {
    width: 30%;
    height: 80%;
    background-color: antiquewhite;
  }
  #blog--two .blog__name__date--two {
    width: 30%;
    height: 20%;
    background-color: burlywood;
  }
  .contact {
    height: 80vh;
  }
  .contact .contact__questions__upper {
    padding-top: 7rem;
    padding-left: 8rem;
    height: 30%;
    padding-right: 8rem;
    font-size: 5rem;
    color: white;
    line-height: 4;
    background-color: #17181C;
    line-height: 1.3;
  }
  .contact .contact__questions__upper span {
    font-style: italic;
    font-size: 5.5rem;
  }
  .contact .contact__questions__upper #someting--tag {
    font-weight: 700;
  }
  .contact .contact__questions__lower {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 2rem;
    height: 10%;
    font-size: 5rem;
    color: yellow;
    line-height: 4;
    background-color: #17181C;
    line-height: 1.6;
  }
  .contact #footer__icon {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 11rem;
    padding-top: 0;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #17181C;
  }
  .contact #footer__icon #email {
    width: 30%;
    height: 100%;
    background-color: #17181C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact #footer__icon #email #email__text {
    width: 100%;
    height: 40%;
    color: white;
  }
  .contact #footer__icon #email #email__text p {
    font-size: 5rem;
    text-align: left;
  }
  .contact #footer__icon #email #email__text p a {
    font-size: 2.4rem;
    font-weight: 700;
  }
  .contact #footer__icon #email #email__text span {
    font-style: italic;
  }
  .contact #footer__icon #icon__section {
    width: 70%;
    height: 100%;
    background-color: #17181C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact #footer__icon #icon__section img {
    width: 60%;
    height: 60%;
  }
  footer {
    padding-left: 8rem;
    padding-right: 8rem;
    background-color: #17181C;
  }
  footer .name {
    background-color: #17181C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  footer .name .name__container {
    width: 100%;
    height: 50%;
    background-color: #17181C;
  }
  footer .name .name__container p {
    text-align: center;
    font-size: 5rem;
    color: white;
  }
  footer .quote {
    background-color: #17181C;
    font-size: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .quote .quote__container {
    width: 100%;
    height: 50%;
    background-color: #17181C;
  }
  footer .quote .quote__container p {
    color: white;
    text-align: center;
  }
  footer .quote .quote__container span {
    font-style: italic;
    font-weight: 700;
  }
  footer .icon {
    background-color: #17181C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .icon .icon__image__container {
    width: 50%;
    height: 100%;
    background-color: #17181C;
  }
  footer .icon .icon__image__container img {
    width: 100%;
    height: 120%;
  }
}
/*# sourceMappingURL=style.css.map */