* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* This means 1 rem is 10 pixels */
  background-color: lavenderblush;
  font-family: 'Courier New', Courier, monospace;
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  height: 10vh;
  background: transparent whitesmoke;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #icon {
  font-style: italic;
  font-size: 5rem;
}

nav #inspo--header {
  display: none;
}

header {
  width: 100%;
  height: 20rem;
  background-color: antiquewhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header h1 {
  font-size: 5rem;
  font-family: cursive;
}

.main--pictures {
  width: 100%;
  height: 150rem;
  background: seashell;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main--pictures .picture {
  width: 30rem;
  height: 30rem;
  background-color: black;
}

.inspirational--quote {
  width: 100%;
  height: 25rem;
  background-color: aqua;
}

.projects {
  width: 100%;
  height: 150rem;
  background-color: coral;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .project {
  width: 100%;
  height: 30rem;
  background-color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .project .project__background {
  width: 80%;
  height: 90%;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .project .project__background .project__name {
  width: 15%;
  height: 10%;
  background-color: aliceblue;
}

.projects .project .project__background .project__picture {
  width: 60%;
  height: 60%;
  background-color: aliceblue;
}

.life--history--why {
  width: 100%;
  height: 100rem;
  background-color: #ece179;
}

.life--history--why #hi__quote {
  /* incline quote Hi */
  width: 100%;
  height: 15%;
  background-color: aqua;
}

.life--history--why #reasoning__ux_design {
  width: 100%;
  height: 50%;
  background-color: antiquewhite;
}

.life--history--why #brief__history {
  width: 100%;
  height: 35%;
  background-color: pink;
}

.blog--container {
  width: 100%;
  height: 200rem;
  background-color: #64a5da;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog--container .blog__post {
  width: 100%;
  height: 20%;
  background-color: #81feca;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog--container .blog__post .blog__picture {
  width: 80%;
  height: 20rem;
  background-color: antiquewhite;
}

.blog--container .blog__post .blog__name__date {
  width: 80%;
  height: 5rem;
  background-color: burlywood;
}

.inspirations--hobbies--container {
  width: 100%;
  height: 50rem;
  background-color: #c28fa0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inspirations--hobbies--container .inspirations__hobbies {
  width: 40%;
  height: 40rem;
  background-color: aquamarine;
  margin: 1rem;
}

.contact {
  width: 100%;
  height: 100rem;
  background-color: #e9b4b4;
}

.contact .contact__questions {
  width: 100%;
  height: 16.67rem;
  background-color: chartreuse;
}

.contact #footer__icon {
  width: 100%;
  height: 50rem;
  background-color: darkorange;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: antiquewhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .name, footer .quote, footer .icon {
  width: 33.3%;
  height: 100%;
}

footer .name {
  background-color: aliceblue;
}

footer .quote {
  background-color: pink;
}

footer .icon {
  background-color: red;
}

@media only screen and (min-width: 600px) {
  /* Target all devices from 600px to 769px */
}

@media only screen and (min-width: 769px) {
  /* Target all devices from 769px up */
  nav {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 5rem;
    padding: 0;
  }
  nav #icon {
    display: none;
  }
  nav #inspo--header {
    display: contents;
    font-size: 2rem;
  }
  nav #abbreviation--name {
    padding: 0;
  }
  nav {
    padding-right: 8rem;
    padding-left: 8rem;
  }
  header {
    padding-right: 8rem;
    padding-left: 8rem;
  }
  .main--pictures {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 110rem;
    padding-bottom: 26rem;
  }
  .main--pictures .picture {
    width: 25%;
    height: 50%;
    background-color: black;
    margin: 1rem;
  }
  .inspirational--quote {
    height: 75rem;
  }
  .inspirations--hobbies--container {
    height: 75rem;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .inspirations--hobbies--container .inspirations__hobbies {
    width: 50%;
    margin: 0;
  }
  .projects {
    height: 500rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .projects .project {
    height: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects .project .project__background {
    justify-self: flex-end;
    height: 95%;
    width: 100%;
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .projects .project .project__background .project__name {
    background-color: aqua;
    height: 60%;
    width: 30%;
  }
  .projects .project .project__background .project__picture {
    width: 70%;
  }
  .life--history--why {
    height: 100rem;
  }
  .life--history--why #hi__quote {
    /* incline quote Hi */
  }
  .blog--container {
    height: 300rem;
  }
  .blog--container .blog__post {
    padding-right: 8rem;
    padding-left: 8rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 25%;
  }
  .blog--container .blog__post .blog__picture {
    height: 80%;
  }
  .blog--container .blog__post .blog__name__date {
    height: 20%;
  }
  #blog--two {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog__picture__two {
    width: 30%;
    height: 80%;
    background-color: antiquewhite;
  }
  .blog__name__date--two {
    width: 30%;
    height: 20%;
    background-color: burlywood;
  }
  .contact .contact__questions {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .contact #footer__icon {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
/*# sourceMappingURL=style.css.map */