* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* This means 1 rem is 10 pixels */
    background-color:rgb(255, 255, 255);
    font-family: sofia-pro, sans-serif;
    scroll-behavior: smooth;
}
.background {
    width: 100vw;
    height: 120vh;
    background-color: rgba(244, 208, 63, 1);
    background-size: cover;
    background-attachment: fixed;
    .nav {
        width: 100vw;
        height: 10vh;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
        color: #fff;
        position: fixed;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        .initials {
            
            h4 {
                font-size: 4rem;
                span {
                    font-style: italic;
                }
            }

        }
        .container {
            max-width: 960px;
            margin: auto;
            overflow: hidden;
            margin-right: 2rem;
            background-color:white;
        }


        .menu-wrap {
            position: sticky;
        }

        .menu-wrap .toggler {
            position: absolute;
            cursor: pointer;
            z-index: 2;
            top: 0;
            right: 0;
            width: 5rem;
            height: 5rem;
            opacity: 0;
        }

        .toggler {
            margin-right: 2rem;
        }

        .menu-wrap .hamburger {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            background: transparent;
            width: 5rem;
            height: 5rem; 
            display: flex;
            align-items: center;
            justify-content: center;

        }

        /* Middle line */
        .menu-wrap .hamburger > div {
            transition: all 0.8s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 0.25em;
            background: white;
            position: relative;
            flex: none;

        }


        /* Top and middle line again */
        .menu-wrap .hamburger > div::before {
            content: '';
            position:absolute;
            top: -1rem;
            z-index:1;
            width: 100%;
            height: 0.25rem;
            background: black;
        }

        .menu-wrap .hamburger > div::after {
            content: ''; 
            position:absolute;
            top: 1rem;
            z-index:1;
            width: 100%;
            height: 0.25rem;
            background: yellow;
        } 

        .menu-wrap .toggler:checked + .hamburger > div {
            transform: rotate(360deg);
        }

        /* hidden menu */
        .xmenu-wrap .menu {
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .menu-wrap .toggler:checked ~ .menu {
            visibility: visible;
        }

        .menu-wrap .toggler:checked ~ .menu > div {
            transform: scale(1);
            transition-duration: 3s;
        }

        .menu-wrap .toggler:checked ~ .menu > div > div {
            opacity: 1;
            transition:  opacity 0.4s ease 0.2s;
        }

        .menu-wrap .menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .menu-wrap .menu > div {
            background: black;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex: none;
            align-items: center;
            justify-content: center;
            transform: scale(0);
            transition: all 0.2 ease;
        }

        .menu-wrap .menu > div > div {
            text-align: center;
            max-width: 100vw;
            max-height: 100vh;
            color: aliceblue;
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        .menu-wrap .menu > div > div > ul > li {
            list-style: none;
            color: #fff;
            font-size: 2rem;
            padding: 1rem;
        }

        .menu-wrap .menu > div > div > ul > li > a {
            color: inherit;
            text-decoration: none;
            transition: color 0.2s ease;
        }
    }
    #nav_non_responsive {
        width: 100%;
        height: 10vh;
        background-color: rgba(244, 208, 63, 1);
    }
    header {
        width: 100%;
        height: 90vh;
        .pictures {
            width: 100%;
            height: 60%;
            background-color: rgba(244, 208, 63, 1);
            display: flex;
            
            .name {
                width: 10%;
                height: 100%;
                background-color: rgba(244, 208, 63, 1);
                padding-bottom: 2rem;
                .first--name {
                    width: 100%;
                    height: 50%;
                    color: #fff;
                }
                .second--name {
                    width: 100%;
                    height: 50%;
                    color: #fff;
                }
                .second--name , .first--name {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    p {
                        font-size: 3rem;
                        line-height: 1.4;
                    }
                }
                
            }
            .pictures__section {
                width: 90%;
                height: 100%;
                display: flex;
                flex-direction: row;

                #picture--one {
                    width: 20%;
                    height: 100%;
                    background-color: rgba(244, 208, 63, 1);
                    
                    #image {
                        width: 155%;
                        height: 40%;
                        background-color: rgba(244, 208, 63, 1);
                        position: relative;
                        z-index: 9;
                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                #picture--two {
                    width: 30%;
                    height: 100%;
                    background-color: rgba(244, 208, 63, 1);
                    padding-top: 15rem;
                    #image {
                        width: 120%;
                        height: 90%;
                        background-color: rgba(244, 208, 63, 1);
                        position: relative;
                        z-index: 10;
                        img {
                            object-fit: cover;
                            
                            width: 100%;
                            height: 100%;
                            
                        }
                    }
                    
                }
                #picture--three {
                    width: 40%;
                    height: 100%;
                    background-color: rgba(244, 208, 63, 1);
                    padding-top: 20rem;
                    #image {
                        width: 120%;
                        height: 40%;
                        background-color: rgba(244, 208, 63, 1);
                        position: relative;
                        z-index: 9;
                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;

                        }
                    }
                }
                #picture--four {
                    width: 10%;
                    height: 100%;
                    background-color: rgba(244, 208, 63, 1);
                    padding-top: 15rem;
                    #image {
                        width: 100%;
                        height: 20%;
                        background-color: rgba(244, 208, 63, 1);
                        position: relative;
                        z-index: 10;
                        img {
                            object-fit: cover;
                            object-position: left;
                            width: 100%;
                            height: 100%;
                            
                        }
                    }
                }
            }
        }
        .text {
            width: 100%;
            height: 60%;
            background-color: rgba(244, 208, 63, 1);
            
            #designer__syd {
                width: 100%;
                height: 25%;
                background-color: rgba(244, 208, 63, 1);
                color: white;
                h4 {
                    font-size: 7.5rem;
                    letter-spacing: 2.3rem;

                    
                }
                p {
                    letter-spacing: 2rem;
                    font-size: 2rem;
                    padding-left: 2rem;
                    color:black;
                }
            }
            #contact__link {
                width: 100%;
                height: 25%;
                background-color: rgba(244, 208, 63, 1);
                text-align: right;
                color: rgba(207, 0, 15, 1);
                p {
                    text-transform: uppercase;
                    font-size: 4rem;
                    letter-spacing: 0.4rem;
                    line-height: 1;
                    font-weight: 800;
                }
                #contact {
                    font-style: italic;
                    text-decoration:line-through;
                }
            }
            #projects__about__me__link {
                width: 100%;
                height: 25%;
                background-color: rgba(244, 208, 63, 1);
                
                .projects__names__header {
                    color: #fff;
                    p {
                        text-transform: uppercase;
                        font-size: 4rem;
                        letter-spacing: 0.4rem;
                        line-height: 1;
                        font-weight: 800;
                    }
                    #last__project {
                        font-size: 3rem;
                        font-weight: 600;
                        letter-spacing: 1rem;
                    }
                    
                }
                .contact__me__header {
                    text-align: right;
                p {
                    text-transform: uppercase;
                    font-size: 4rem;
                    letter-spacing: 0.4rem;
                    line-height: 1;
                    font-weight: 800;
                    color: rgba(207, 0, 15, 1);
                }
                }
            }
            #stuff__i__line {
                width: 100%;
                height: 25%;
                background-color: rgba(244, 208, 63, 1); 
                padding-top: 6rem;
                padding-bottom: 0;
                color: #fff;
                p {
                    font-size: 4rem;
                    position: relative;
                    text-transform: uppercase;
                    #ux {
                        font-size: 2rem;
                    }
                    #coffee {
                        font-style: italic;
                        font-size: 3rem;
                    }
                }
            }
        }
    }
    
}


.inspirational--quote {
    width:100%;
    height: 100vh;
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/5d4eff85012935.5d6f050f3211a.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        .inspiration__container {
            width: 100%;
            height: 100%;
            background-color: transparent white;
            background-blend-mode: multiply;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            #inspire {
                font-style: italic;
                color: white;
                text-decoration:line-through;
                line-height: 3;
                font-size: 4.5rem;
                position:relative;
                z-index: 1;
                display:inline-block;

            }   
            #inspire::after {
                top: -0.25rem;
                bottom: -0.25rem;
                left: -2rem;
                /* Cal tingo maybe add */
                background-color: yellow;
                content: "";
                position: absolute;
                width: calc(100% + 5rem);
                z-index: -1;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 250ms ease-in;
            }
            .quote {
                font-weight: 300;
                font-style: italic;
                font-size: 3rem;
                line-height: 1;
                padding-left: 2rem;
                padding-right: 2rem;
                color: white;
                span {
                    font-weight: 700;
                    font-style: normal;
                }
            }
        }
        .inspiration__container:hover {
            #inspire::after {
            transform: scaleX(1);
            }
        }   
}



.projects {
    width: 100%;
    height: 335vh;
    background-color:#17181C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    #title__header {
        padding-top: 10rem;
        padding-bottom: 10rem;
        font-size: 5rem;
        color: white;

        span {
           font-style: italic; 
        }
    }
    .project {
        width: 100%;
        height: 100rem;
        background-color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 11rem;
        .project__background {
            width: 100%;
            height: 100%;
            background-color: #17181C;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            padding-left: 2rem;
            padding-right: 2rem;
            .project__name {
                width : 100%;
                height: 70%;
                font-size: 2.5rem;
                background-color: #17181C;
                order: 2;
                h2 {
                    font-size: 9rem;
                    color: yellow;
                }
                .project--decription {
                    line-height: 1.6;
                    .project__name {
                        font-size: 6rem;
                        font-weight: 550;
                        color: white;
                    }
                    .project__description__tag{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        color: white;
                        
                        .project__tag {
                           font-weight: 800;
                           line-height: 5; 
                        }
                        .project__decription {
                            display: flex;
                            justify-content: end;
                            flex-direction: column;
                            align-items: flex-start;
                            line-height: 5;
                            padding-left: 5rem;
                        }
                        .description{
                            line-height: 1;
                            padding-top: 5rem;
                        }
                    }
                }

            }
            .project__picture {
                width : 100%;
                height: 30%;
                background-color: aliceblue;
                a {
                    text-decoration: none;
                    overflow:hidden;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all 0.5s ease in;
                        transform: scale(1);
                        background-size: cover;
                    }
                }
                
            }
        }
    }
}

.projects {
    z-index: 3; 
    .project {
        z-index: 2;
        position:relative;
        .project__picture:hover {
            z-index: 1;
            position: relative;
            a:hover {
                overflow: hidden;
                img {
                    opacity: 0.5;
                    transform: scale(1.2);
                    transition: all 0.5s ease in;
                    overflow:hidden;
                    background-size: cover;
                    position:relative;
                    z-index: 1;
                }
            }
        }
    }
}
.life--history--why {
    width: 100%;
    height: 100vh;
    font-size: 4.5rem;
    background: url('https://i.pinimg.com/564x/0a/9b/89/0a9b8927343ee33f55a18e9e64313c72.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    color: #fff;
    .inspiration__container {
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-blend-mode: multiply;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        a {
            font-style: italic;
            text-decoration:overline;
            line-height: 3;
            color: #fff;
            font-size: 4.5rem;
            z-index: 1;
            position: relative;
            display: inline-block;
        }
        a::after {
            content: '';
            position: absolute;
            top: -0.25rem;
            bottom: -0.25rem;
            left: -2rem;
            background-color: rgba(244, 208, 63, 1);
            width: calc(100% + 5rem);
            transform: scaleX(0);
            z-index: -1;
            transform-origin: right;
            transition: transform 250ms ease-in;
        }
        .quote {
            font-weight: 300;
            font-style: italic;
            font-size: 3rem;
            line-height: 1;
                span {
                    font-weight: 700;
                    font-style: normal;
                }
            }
    }
    .inspiration__container:hover {
        a::after {
            transform: scaleX(1);
        }
    }
}

.blog--container {
    width: 100%;
    height: 260rem;
    background-color:#17181C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    h2 {
        text-align: center;
        padding-top: 2rem;
        width: 100%;
        height: 20rem;
        font-size: 4.5rem;
        color: white;
        font-weight: 700;
        span {
            font-style: italic;
        }
    }
    .blog__post {
        width:100%;
        height: 50rem;
        background-color:#17181C;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;
        .blog__name__date {
            background-color: #17181C;
            .blog__name {
                font-size: 3.5rem;
                color: white;
                background-color: #17181C;
            }
            .blog__summary {
                display: flex;
                justify-content: space-between;
                background-color: #17181C;
                .blog__sum {
                    font-size: 2rem;
                    color: yellow;
                }
                .blog__date {
                    font-size: 2rem;
                    color: yellow;
                }
            }

        }
        .blog__picture {
            width: 100%;
            height: 70%;
            background-color: antiquewhite;
        }
        #blog--one, #blog--four {
            img {
                width: 100%;
                height: 100%;
                object-fit:cover;
            }
        }
        
        .blog__name__date {
            width: 100%;
            height: 5rem;
            background-color:burlywood;
        }
    }

    
    

}


.inspirations--hobbies--container {
    width: 100%;
    height: 50rem;
    background-color: rgb(194, 143, 160);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .inspirations__hobbies {
        width: 40%;
        height: 40rem;
        background-color: aquamarine;
        margin: 1rem;
    }
}

.contact {
    width: 100%;
    height: 100rem;
    background-color: rgb(233, 180, 180);
    font-size: 4.5rem;
    line-height: 1.3;
    .contact__questions__upper {
        width: 100%;
        height: 30%; 
        padding-left: 2rem;
        padding-right: 2rem;
        background-color:#17181C;
        color: white;
        padding-top: 5rem;
        line-height: 1.2;
    }
    .contact__questions__lower {
        height: 10%;
        padding-left: 2rem;
        padding-right: 2rem;
        color: yellow;
        background-color: #17181C;
    }
    #footer__icon {
        width: 100%;
        height: 60%;
        font-size: 4.5rem;
        background-color:#17181C;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 5rem;
        #email {
            color: white;
            #email__text {
                
                a {
                    font-size: 2rem;
                    text-decoration: none;
                    color: white;
                }

            }
            #butn-resume {
                font-size: 2rem;
                text-decoration: none;
                width: 50%;
                height: 5rem;
                text-align: left;
                color:rgb(255, 255, 255);
                background-color:#17181C;
                border: none;
                border-radius: 2rem;
                box-shadow: insert 0 0 0 0 white;
                transition: ease-out 0.3s;
                outline: none;
            }
            #butn-resume:hover {
                box-shadow: inset 30rem 0 0 0 rgba(244, 208, 63, 1);
                cursor: pointer;
                text-align: center;
                text-decoration: line-through;
            }
        }
        #icon__section {
            width: 100%;
            height: 60%;
            background-color:#17181C;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .top__row {
                width: 100%;
                height: 80%;
                background-color: #17181C;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                padding-left: 2rem;
                padding-right: 2rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
                .top__row__box__one {
                    width: 35%;
                    height: 33.3%;
                    background-color: aliceblue;
                    /* Bad image */
                    .facebook {
                        width: 100%;
                        height:100%;
                        background-color: #17181C;
                        p {
                            width: 100%;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                            font-size: 2rem;
                            opacity: 0;
                            transition: all 0.4s ease-in;
                            text-align: center;
                            color: white;
                        }
                        span {
                            display: flex;
                            align-items: flex-start;
                            justify-content: center;
                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                
                                img {
                                    width: 7rem;
                                    height: 7rem;
                                    
                                }
                            }
                            
                        }
                    }
                    
                }
                .top__row__box__two {
                    width: 35%;
                    height: 33.3%;
                    background-color: bisque;
                    .Github { 
                        width: 100%;
                        height: 100%;
                        background-color: #17181C;;
                        p {
                            text-align: center;
                            font-size: 2rem;
                            color: white;
                            opacity: 0;
                        }
                        span {
                            a {
                               
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                img {
                                    width: 12rem;
                                    height: 8rem;
                                }
                            }
                        }
                    }
                }
                .top__row__box__three {
                    width: 33.3%;
                    height: 33.3%;
                    background-color:#17181C;
                    .Linkin { 
                        width: 100%;
                        height: 100%;
                        background-color: #17181C;
                        p {
                            text-align: center;
                            color: aliceblue;
                    
                            font-size: 2rem;
                            opacity: 0;
                        }
                        span {
                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                img {
                                    width: 7rem;
                                    height: 7rem;
                                }
                            }
                        }
                    }
                }
            }
            /* .bottom__row {
                width: 100%;
                height: 100%;
                background-color:beige;
                display: flex;
                align-items: center;
                justify-content: center;
                
                .Resume { 
                    width: 100%;
                    height: 100%;
                    background-color:#17181C;
                    
                    .resume_downloader {
                        text-align: center;
                        
                        p {
                            opacity: 1;
                            text-align: center;
                            color: white;
                            font-size: 2rem;
                        }
                        .resume_downloader {
                            .resume__button {
                                a {
                                    text-decoration: none;
                                    color: white;
                                }
                            }
                        }
                    }
                    span {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img {
                                width: 5rem;
                                height: 5rem;
                            }
                        }
                    }
                    
                }
            } */
        } 
    }
}


footer {
    width: 100%;
    height: 10vh;
    background-color:#17181C;
    display:flex;
    padding-left: 2rem;
    padding-right: 2rem;
    .name, .quote , .icon {
        width: 33.3%;
        height:100%;
    }
    .name {
        background-color:#17181C;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: left;
        
        .name__container {
            width: 100%;
            height:50%;
            background-color: #17181C;
            p {
                color: aliceblue;
                text-align: center;
            }
        }
    }
    .quote {
        background-color:#17181C;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-left: 3rem;
        .quote__container {
            width: 100%;
            height: 50%;
            background-color: #17181C;
            
            p {
                color: white;
                text-align: center;

            }
            span {
                font-style: italic;
                font-weight: 700;
            }
        }
    }
    .icon {
        background-color:#17181C;
        width: 100%;
        height: 33.3%;
        background-color: #17181C;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        /* padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem; */
        .icon__image__container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 4rem;
            padding-left: 3rem;
            .top__row__box__one {
                width: 35%;
                height: 33.3%;
                background-color: aliceblue;
                /* Bad image */
                .facebook {
                    width: 100%;
                    height:100%;
                    background-color: #17181C;
                    p {
                        width: 100%;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                        font-size: 2rem;
                        opacity: 0;
                        transition: all 0.4s ease-in;
                        text-align: center;
                        color: white;
                    }
                    span {
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            img {
                                width: 5rem;
                                height: 5rem;
                                
                            }
                        }
                        
                    }
                }
                
            }
            .top__row__box__two {
                width: 35%;
                height: 33.3%;
                background-color: bisque;
                .Github { 
                    width: 100%;
                    height: 100%;
                    background-color: #17181C;;
                    p {
                        text-align: center;
                        font-size: 2rem;
                        color: white;
                        opacity: 0;
                    }
                    span {
                        a {
                            
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            img {
                                width: 7rem;
                                height: 5rem;
                            }
                        }
                    }
                }
            }
            .top__row__box__three {
                width: 33.3%;
                height: 33.3%;
                background-color:#17181C;
                .Linkin { 
                    width: 100%;
                    height: 100%;
                    background-color: #17181C;
                    p {
                        text-align: center;
                        color: aliceblue;
                
                        font-size: 2rem;
                        opacity: 0;
                    }
                    span {
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img {
                                width: 5rem;
                                height: 5rem;
                            }
                        }
                    }
                }
            }     
        }
    }
}


@media only screen and (min-width: 600px) {
/* Target all devices from 600px to 769px */
    header {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    nav {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .main-picture {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .inspirational-quote {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .projects {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .life--history--why {
        padding-left: 0;
        padding-right: 0;
    }
    .blog--container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .contact {
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: #17181C;
    }
}

@media only screen and (min-width: 1200px) {
/* Target all devices from 769px up */ 
    nav {
        width: 100%;
        justify-content: space-between;
        font-size: 3.5rem;
        font-weight: 300;
        background-color: rgb(255, 255, 255);
        .hamburger {
            display: none;
        }
        #inspo--header {
            display: contents;
            font-style: italic;

        }
        #abbreviation--name {  
            span {
                font-weight: 550;
            }
        }
    }
    nav {
        padding-right: 8rem;
        padding-left: 8rem;
        background-color: rgb(255, 255, 255);
    }
    header {
        padding-right: 8rem;
        padding-left: 8rem;
        background-color: rgb(255, 255, 255);
        height: 22.5rem;
        #title {
            font-style: sofia-pro, sans-serif;
            font-size: 5rem;
            font-style: normal;
            color: black;
        }

    }
    .main--pictures {
        justify-content: center;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        height: 110rem;
        /* padding-bottom: 20rem; */
        .picture {
            width: 25%;
            height: 50%;
            margin: 1rem;
        }
    }
    .inspirational--quote {
        height: 90vh;
        font-size: 10rem;
        position:relative;
        .inspiration__container {
            width:100%;
            height: 50%;
            background-blend-mode: multiply;
            position: relative;
            #inspire {
                position:relative;
                z-index: 1;
                display:inline-block;
            }   
            #inspire::after {
                top: -0.25rem;
                bottom: -0.25rem;
                left: -2rem;
                /* Cal tingo maybe add */
                background-color: yellow;
                content: "";
                position: absolute;
                width: calc(100% + 5rem);
                z-index: -1;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 250ms ease-in;
            }
            .quote {
                font-weight: 300;
                font-style: italic;
                font-size: 3rem;
                line-height: 1;
                padding-left: 2rem;
                padding-right: 2rem;
                span {
                    font-weight: 700;
                    font-style: normal;
                }
            }
        } 
        .inspiration__container:hover {
            #inspire::after {
                transform: scaleX(1);
            }
        }   
    }

    .inspirations--hobbies--container {
        height: 75rem;
        padding-left: 8rem;
        padding-right: 8rem;
        .inspirations__hobbies {
            width: 50%;
            margin:0;
        }
    }

    .projects {
        height: 500rem;
        justify-content: space-evenly;
        background-color:#17181C;
        #title__header {
            font-size: 10rem;
            font-weight: 700;
            color:  rgb(255, 255, 255);
        }
        .project {
            height: 20%;
            justify-content: center;
            background-color:#17181C;;
            .project__background {
                justify-self: flex-end;
                height: 95%;
                width: 100%;
                padding-left: 8rem;
                padding-right:8rem;
                background-color: #17181C;
                flex-direction: row;
                .project__name {
                    order:-1;
                    background-color: #17181C;
                    height: 60%;
                    width: 30%;
                    display:flex;
                    flex-direction: column;
                    align-items: flex-start;
                    
                    h2 {
                        color: yellow;
                        font-size: 14rem;
                    }

                    .project--decription{
                        width: 92.5%;
                        height: 90%;
                        background-color: black;
                        align-self: flex-end;
                        color: aliceblue;
                        .project__name {
                            height: 20%;
                            width: 100%;
                            background-color: #17181C;
                            font-size: 5rem;
                            color: white;
                        }
                        .project__description__tag {
                            height: 80%;
                            width: 100%;
                            background-color: #17181C;
                            display: flex;

                            .project__tag {
                                width: 30%;
                                height: 100%;
                                background-color: #17181C;
                                color: white;
                                font-size: 2.4rem;
                                line-height: 3;
                            }
                            .project__decription {
                                width: 70%;
                                height: 100%;
                                background-color: #17181C;
                                font-size: 2.4rem;
                                line-height: 3;
                            }
                        }
                    }
                }
                .project__picture {
                    width:70%;
                }

            }
        }
    }
    .life--history--why {
        height: 90vh;
        font-size: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        #history__quote {
            width: 100%;
            height: 50%;
            background: yellow;
            position: relative;
            a {
                font-style: italic;
                text-decoration:overline;
                line-height: 3;
                position:relative;
                z-index: 1;
                display: inline-block;
            }
            a::after {
                content: '';
                position: absolute;
                top: -0.25rem;
                bottom: -0.25rem;
                left: -2rem;
                background-color:white;
                width: calc(100% + 5rem);
                transform: scaleX(0);
                z-index: -1;
                transform-origin: right;
                transition: transform 250ms ease-in;
           
            }
            .quote {
                font-weight: 300;
                font-style: italic;
                font-size: 6rem;
                line-height: 1;
                span {
                    font-weight: 700;
                    font-style: normal;
                }
            }  
        }
        #history__quote:hover {
            a::after {
                transform: scaleX(1);
            }
        }

    }

    .blog--container {
        height: 300rem;
        text-align: left;
        background-color: #17181C;

        #blogs__title {
            font-size: 10rem;
            font-weight: 700;
            color:  rgb(255, 255, 255);
            background-color: #17181C;
            span {
                font-style: italic;
            }
        }
        .blog__post {
            padding-right: 8rem;
            padding-left: 8rem;
            align-items: flex-start;
            height: 25%;
            background-color: #17181C;
            .blog__picture {
               height: 80%;
            }
            
            .blog__name__date, .blog__name__date--two {
                height: 20%;
                .blog__name {
                    width: 100%;
                    height: 50%;
                    background-color:#17181C;
                    color:rgb(255, 255, 255);
                    font-size: 5rem;
                }
                .blog__summary {
                    width: 100%;
                    height: 50%;
                    background-color:#17181C;
                    color: rgb(255, 255, 255);
                    font-size: 5rem;;
                    display: flex;
                
                    .blog__sum {
                        width: 30%;
                        height: 100%;
                        background-color: #17181C;
                        color: yellow;
                        font-size: 2.4rem;
                    }
                    .blog__date {
                        width: 70%;
                        height: 100%;
                        background-color: #17181C;
                        color: yellow;
                        text-align: end;
                        font-size: 2.4rem;
                    }
                }
            }
            
        }
    
    }

    #blog--two {
        align-items: flex-end;
        flex-wrap: wrap;
        height: 25%;
        .blog__picture__two {
            width: 30%;
            height:80%;
            background-color: antiquewhite;
        }
    
        .blog__name__date--two {
            width: 30%;
            height:20%;
            background-color: burlywood;
        }
    }

    .contact { 
        height: 80vh;
        .contact__questions__upper {
            padding-top: 7rem;
            padding-left: 8rem;
            height: 30%;
            padding-right: 8rem;
            font-size: 5rem;
            color: rgb(255, 255, 255);
            line-height: 4;
            background-color: #17181C;
            line-height: 1.3;
            span {
                font-style: italic;
                font-size: 5.5rem;
            }
            #someting--tag {
                font-weight: 700;
            }
        }
        .contact__questions__lower {
            padding-left: 8rem;
            padding-right: 8rem;
            padding-top: 2rem;
            height: 10%;
            font-size: 5rem;
            color: yellow;
            line-height: 4;
            background-color: #17181C;
            line-height: 1.6;
        }

        #footer__icon {
            padding-left: 8rem;
            padding-right: 8rem;
            padding-bottom: 11rem;
            padding-top: 0;
            height: 60%;
            display: flex;
            background-color:#17181C;
            #email {
                width: 30%;
                height: 100%;
                background-color: #17181C;
                display: flex;
                align-items: center;
                justify-content: center;
                #email__text {
                    width: 100%;
                    height: 40%;
                    color: rgb(255, 255, 255);
                    p {
                        font-size: 5rem;
                        text-align: left;;

                        a {
                            font-size: 2.4rem;
                            font-weight: 700;
                        }
                    }
                    span {
                        font-style: italic;
                    }
                }
            }
            #icon__section {
                width: 70%;
                height:100%;
                background-color:#17181C;
                display: flex;
                justify-content: center;
                img {
                    width:60%;
                    height: 60%;
                }
            }


        }
    }
    footer {
        padding-left: 8rem;
        padding-right: 8rem;
        background-color: #17181C;
            .name {
                background-color: #17181C;
                display: flex;
                align-items: center;
                justify-content: left;
                .name__container {
                    width: 100%;
                    height:50%;
                    background-color: #17181C;
                    p {
                        text-align: center;
                        font-size: 5rem;
                        color: white;
                    }
                }
            }
    
        
        .quote {
            background-color: #17181C;
            font-size: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .quote__container {
                width: 100%;
                height: 50%;
                background-color: #17181C;
                p {
                    color: white;
                    text-align: center;

                }
                span {
                    font-style: italic;
                    font-weight: 700;
                }
            }
        }
        
        .icon {
            background-color: #17181C;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon__image__container {
                width:50%;
                height:100%;
                background-color: #17181C;
                img {
                    width:100%;
                    height: 120%;
                    
                }
            }
        }
    }
    


}